In [1]:
import sys
import csv
import time
import itertools
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
from sklearn import datasets
import matplotlib.pyplot as plt 
from sklearn.metrics import f1_score
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

In [8]:
def time_line(pt,st):
    df=pd.read_csv( str(pt) + '/3_final_dataset.csv',header=0,sep=',')
    df_int=pd.read_csv( str(pt) + '/1_target_list.csv',header=0,sep=',')
    #remove duplicates to keep a time of earliest interaction.
    df_click=df_int[df_int.interaction_type==1]
    df_click.drop_duplicates(keep='first')
    df_book=df_int[df_int.interaction_type==2]
    df_book.drop_duplicates(keep='first')
    df_reply=df_int[df_int.interaction_type==3]
    df_reply.drop_duplicates(keep='first')
    df_undisp=df_int[df_int.interaction_type==0]
    
    df_click=df_click.groupby(['user_id','item_id'])['created_at'].apply(lambda x: np.min(x)).reset_index()
    df_book=df_book.groupby(['user_id','item_id'])['created_at'].apply(lambda x: np.min(x)).reset_index()
    df_reply=df_reply.groupby(['user_id','item_id'])['created_at'].apply(lambda x: np.min(x)).reset_index()
    df_undisp=df_undisp.groupby(['user_id','item_id'])['created_at'].apply(lambda x: np.min(x)).reset_index()
    
    df=pd.merge(df,df_click,how='left', on=['user_id','item_id'])
    df=df.rename(columns = {'created_at':'week_click'})
    df=pd.merge(df,df_book,how='left', on=['user_id','item_id'])
    df=df.rename(columns = {'created_at':'week_book'})
    df=pd.merge(df,df_reply,how='left', on=['user_id','item_id'])
    df=df.rename(columns = {'created_at':'week_reply'})
    df=pd.merge(df,df_undisp,how='left', on=['user_id','item_id'])
    df=df.rename(columns = {'created_at':'week_undisp'})
    
    df.week_click.fillna(df.week_undisp, inplace=True)
    df.week_book.fillna(df.week_undisp, inplace=True)
    df.week_reply.fillna(df.week_undisp, inplace=True)
    
    df.set_index(['user_id', 'item_id'], inplace=True)
    
    df.to_csv(str(st)+'/4_time_line.csv')
    return df

In [9]:
time_line("/Users/amirasarbaev/Desktop","/Users/amirasarbaev/Desktop")

                 displayed  click  book  reply      f1      f2      f3   f4  \
user_id item_id
151     16291            1      0     0      0  0.1350  0.0650  0.9851  0.0
16874   16291            1      0     0      0  0.0000  0.0000  0.0000  0.0
22589   16291            1      1     0      0  0.1932  0.0879  0.9851  0.0
23514   16291            1      0     0      0  0.1189  0.0534  0.9851  0.0
24608   16291            1      0     0      0  0.1135  0.0678  0.9851  0.0
27885   16291            1      0     0      0  0.0519  0.0350  0.8817  0.0
30556   16291            1      1     0      0  0.2130  0.0934  0.9851  0.0
33704   16291            1      0     0      0  0.1760  0.0849  0.9851  0.0
41458   16291            1      0     0      0  0.0841  0.0400  0.7676  0.0
45123   16291            1      0     0      0  0.0000  0.0000  0.0000  0.0
47393   16291            1      1     0      0  0.1313  0.0751  0.9231  0.0
47764   16291            1      1     0      0  0.1116  0.0394  0.6322  0.0
49162   16291            1      0     0      0  0.0000  0.0000  0.0000  0.0
52730   16291            1      0     0      0  0.1255  0.0673  0.9851  0.0
57649   16291            1      0     0      0  0.1048  0.0651  0.9851  0.0
65409   16291            1      1     0      0  0.3013  0.1446  0.9640  0.0
66543   16291            1      0     0      0  0.0924  0.0509  0.9851  0.0
74087   16291            1      0     0      0  0.1009  0.0644  0.8105  0.0
74569   16291            1      1     0      0  0.1838  0.0923  0.9851  0.0
90412   16291            1      0     0      0  0.0340  0.0284  0.9851  0.0
93937   16291            1      0     0      0  0.0558  0.0228  0.7733  0.0
98519   16291            1      0     0      0  0.0000  0.0000  0.0000  0.0
98683   16291            1      0     0      0  0.1181  0.0704  0.9851  0.0
99096   16291            1      0     0      0  0.0615  0.0364  0.8007  0.0
104592  16291            1      1     0      0  0.1600  0.0801  0.9851  0.0
106303  16291            1      0     0      0  0.1337  0.0602  0.8947  0.0
106638  16291            1      0     0      0  0.1299  0.0643  0.7838  0.0
114478  16291            1      0     0      0  0.0000  0.0000  0.0000  0.0
119041  16291            1      0     0      0  0.0329  0.0228  0.9851  0.0
119952  16291            0      1     0      0  0.2162  0.1062  0.9231  0.0
...                    ...    ...   ...    ...     ...     ...     ...  ...
2849304 2212468          1      0     0      0  0.0000  0.0000  0.0000  0.0
2865380 2592291          0      1     0      0  0.0062  0.0019  0.3077  0.0
2869473 1626724          1      0     0      0  0.0046  0.0010  0.2295  0.0
2875082 1270607          0      1     0      0  0.0000  0.0000  0.0000  0.0
2875469 423030           0      1     0      0  0.0165  0.0133  0.8249  0.0
2877778 1593371          1      0     0      0  0.0000  0.0000  0.0000  0.0
2895618 1848051          1      0     0      0  0.0100  0.0049  0.5000  0.0
2900154 2007230          1      0     0      0  0.0000  0.0000  0.0000  0.0
2900426 664054           0      1     0      0  0.0036  0.0006  0.1789  0.0
2904158 2038004          1      0     0      0  0.0000  0.0000  0.0000  0.0
2947284 2038004          1      0     0      0  0.0000  0.0000  0.0000  0.0
2912829 2796497          1      1     0      0  0.0079  0.0031  0.3964  0.0
2913367 70006            0      1     0      0  0.0079  0.0031  0.3964  0.0
2914867 2274214          0      1     0      1  0.0113  0.0063  0.5674  0.0
2931011 486074           0      1     0      0  0.0101  0.0050  0.5065  0.0
2941682 1225752          1      0     0      0  0.0000  0.0000  0.0000  0.0
        1347522          0      1     0      0  0.0440  0.0315  0.8842  0.0
2941933 2630936          0      1     0      0  0.0301  0.0218  0.7542  0.0
2946044 1724745          0      1     0      0  0.0112  0.0061  0.5600  0.0
2951284 1198122          0      1     0      0  0.0116  0.0065  0.5780  0.0
2959628 105599           1      0     0      0  0.0000  0.0000  0.0000  0.0
        1265174          1      1     0      1  0.0043  0.0009  0.2143  0.0
        1509680          1      1     0      0  0.0105  0.0054  0.5229  0.0
        2453650          0      1     0      1  0.0151  0.0112  0.7563  0.0
        2657302          0      1     0      0  0.0143  0.0100  0.7129  0.0
        2721326          1      0     0      0  0.0000  0.0000  0.0000  0.0
2968865 15772            0      1     0      0  0.0150  0.0111  0.7520  0.0
2969179 468665           0      1     0      0  0.0142  0.0099  0.7097  0.0
2982936 2598619          0      1     0      0  0.0094  0.0043  0.4692  0.0
2983798 2008623          1      0     0      0  0.0130  0.0083  0.6505  0.0

                   f5      f6     ...       discipline_id_y  industry_id_y  \
user_id item_id                   ...
151     16291    0.26  0.0739     ...                    23             15
16874   16291    0.00  0.0043     ...                    23             15
22589   16291    0.36  0.0847     ...                    23             15
23514   16291    0.24  0.1072     ...                    23             15
24608   16291    0.18  0.1089     ...                    23             15
27885   16291    0.08  0.0348     ...                    23             15
30556   16291    0.38  0.0666     ...                    23             15
33704   16291    0.30  0.1171     ...                    23             15
41458   16291    0.16  0.0585     ...                    23             15
45123   16291    0.00  0.1117     ...                    23             15
47393   16291    0.20  0.1454     ...                    23             15
47764   16291    0.26  0.1187     ...                    23             15
49162   16291    0.00  0.0086     ...                    23             15
52730   16291    0.22  0.1096     ...                    23             15
57649   16291    0.16  0.1339     ...                    23             15
65409   16291    0.40  0.0696     ...                    23             15
66543   16291    0.16  0.1195     ...                    23             15
74087   16291    0.14  0.0868     ...                    23             15
74569   16291    0.30  0.0975     ...                    23             15
90412   16291    0.04  0.0943     ...                    23             15
93937   16291    0.16  0.0214     ...                    23             15
98519   16291    0.00  0.0319     ...                    23             15
98683   16291    0.18  0.1132     ...                    23             15
99096   16291    0.10  0.0833     ...                    23             15
104592  16291    0.28  0.1224     ...                    23             15
106303  16291    0.26  0.0876     ...                    23             15
106638  16291    0.22  0.1244     ...                    23             15
114478  16291    0.00  0.0034     ...                    23             15
119041  16291    0.06  0.0779     ...                    23             15
119952  16291    0.32  0.0694     ...                    23             15
...               ...     ...     ...                   ...            ...
2849304 2212468  0.00  0.0062     ...                    16             11
2865380 2592291  0.02  0.0000     ...                    13             11
2869473 1626724  0.02  0.0002     ...                    13             15
2875082 1270607  0.00  0.0045     ...                    15             11
2875469 423030   0.02  0.0001     ...                    16             15
2877778 1593371  0.00  0.0038     ...                     8              8
2895618 1848051  0.02  0.0027     ...                    19             14
2900154 2007230  0.00  0.0050     ...                    15             15
2900426 664054   0.02  0.0006     ...                    14             11
2904158 2038004  0.00  0.0017     ...                    15             21
2947284 2038004  0.00  0.0094     ...                    15             21
2912829 2796497  0.02  0.0040     ...                    18             15
2913367 70006    0.02  0.0000     ...                    14             19
2914867 2274214  0.02  0.0001     ...                    15             15
2931011 486074   0.02  0.0018     ...                    15             11
2941682 1225752  0.00  0.0034     ...                    15             15
        1347522  0.06  0.0035     ...                     3             15
2941933 2630936  0.04  0.0002     ...                    14             15
2946044 1724745  0.02  0.0010     ...                    15             15
2951284 1198122  0.02  0.0003     ...                    15             11
2959628 105599   0.00  0.0052     ...                    14             15
        1265174  0.02  0.0000     ...                    18             11
        1509680  0.02  0.0000     ...                     3             21
        2453650  0.02  0.0018     ...                    12             15
        2657302  0.02  0.0058     ...                    20              1
        2721326  0.00  0.0050     ...                    16             15
2968865 15772    0.02  0.0000     ...                    18             15
2969179 468665   0.02  0.0010     ...                    20              2
2982936 2598619  0.02  0.0008     ...                    19             15
2983798 2008623  0.02  0.0004     ...                    15              8

                 country_cat  region_y  employment  active_during_test  \
user_id item_id
151     16291              2         9           1                   0
16874   16291              2         9           1                   0
22589   16291              2         9           1                   0
23514   16291              2         9           1                   0
24608   16291              2         9           1                   0
27885   16291              2         9           1                   0
30556   16291              2         9           1                   0
33704   16291              2         9           1                   0
41458   16291              2         9           1                   0
45123   16291              2         9           1                   0
47393   16291              2         9           1                   0
47764   16291              2         9           1                   0
49162   16291              2         9           1                   0
52730   16291              2         9           1                   0
57649   16291              2         9           1                   0
65409   16291              2         9           1                   0
66543   16291              2         9           1                   0
74087   16291              2         9           1                   0
74569   16291              2         9           1                   0
90412   16291              2         9           1                   0
93937   16291              2         9           1                   0
98519   16291              2         9           1                   0
98683   16291              2         9           1                   0
99096   16291              2         9           1                   0
104592  16291              2         9           1                   0
106303  16291              2         9           1                   0
106638  16291              2         9           1                   0
114478  16291              2         9           1                   0
119041  16291              2         9           1                   0
119952  16291              2         9           1                   0
...                      ...       ...         ...                 ...
2849304 2212468            3         0           1                   0
2865380 2592291            2         6           1                   0
2869473 1626724            2         2           0                   1
2875082 1270607            2         2           1                   0
2875469 423030             2         6           1                   0
2877778 1593371            2         3           1                   1
2895618 1848051            2         9           1                   1
2900154 2007230            2         2           1                   1
2900426 664054             2         6           3                   1
2904158 2038004            2         9           1                   0
2947284 2038004            2         9           1                   0
2912829 2796497            2         9           1                   0
2913367 70006              2         8           1                   0
2914867 2274214            2         1           1                   1
2931011 486074             2         9           1                   0
2941682 1225752            2         9           1                   0
        1347522            0         0           1                   0
2941933 2630936            2         9           1                   1
2946044 1724745            2         3           1                   1
2951284 1198122            2         7           1                   1
2959628 105599             0         0           1                   1
        1265174            2         6           1                   1
        1509680            1         0           1                   0
        2453650            2        13           1                   1
        2657302            2         1           1                   1
        2721326            0         0           1                   0
2968865 15772              2         7           1                   1
2969179 468665             2         2           0                   1
2982936 2598619            3         0           1                   1
2983798 2008623            2         3           1                   1

                 week_click  week_book  week_reply  week_undisp
user_id item_id
151     16291          40.0       40.0        40.0         40.0
16874   16291          42.0       42.0        42.0         42.0
22589   16291          43.0        NaN         NaN          NaN
23514   16291          41.0       41.0        41.0         41.0
24608   16291          42.0       42.0        42.0         42.0
27885   16291          41.0       41.0        41.0         41.0
30556   16291          41.0        NaN         NaN          NaN
33704   16291          40.0       40.0        40.0         40.0
41458   16291          40.0       40.0        40.0         40.0
45123   16291          41.0       41.0        41.0         41.0
47393   16291          42.0        NaN         NaN          NaN
47764   16291          41.0        NaN         NaN          NaN
49162   16291          40.0       40.0        40.0         40.0
52730   16291          44.0       44.0        44.0         44.0
57649   16291          41.0       41.0        41.0         41.0
65409   16291          42.0        NaN         NaN          NaN
66543   16291          41.0       41.0        41.0         41.0
74087   16291          41.0       41.0        41.0         41.0
74569   16291          41.0        NaN         NaN          NaN
90412   16291          40.0       40.0        40.0         40.0
93937   16291          43.0       43.0        43.0         43.0
98519   16291          42.0       42.0        42.0         42.0
98683   16291          40.0       40.0        40.0         40.0
99096   16291          43.0       43.0        43.0         43.0
104592  16291          42.0        NaN         NaN          NaN
106303  16291          41.0       41.0        41.0         41.0
106638  16291          42.0       42.0        42.0         42.0
114478  16291          41.0       41.0        41.0         41.0
119041  16291          43.0       43.0        43.0         43.0
119952  16291          40.0        NaN         NaN          NaN
...                     ...        ...         ...          ...
2849304 2212468        40.0       40.0        40.0         40.0
2865380 2592291        40.0        NaN         NaN          NaN
2869473 1626724        45.0       45.0        45.0         45.0
2875082 1270607        38.0        NaN         NaN          NaN
2875469 423030         43.0        NaN         NaN          NaN
2877778 1593371        45.0       45.0        45.0         45.0
2895618 1848051        45.0       45.0        45.0         45.0
2900154 2007230        45.0       45.0        45.0         45.0
2900426 664054         42.0        NaN         NaN          NaN
2904158 2038004        44.0       44.0        44.0         44.0
2947284 2038004        45.0       45.0        45.0         45.0
2912829 2796497        35.0        NaN         NaN          NaN
2913367 70006          41.0        NaN         NaN          NaN
2914867 2274214        43.0        NaN        43.0          NaN
2931011 486074         39.0        NaN         NaN          NaN
2941682 1225752        41.0       41.0        41.0         41.0
        1347522        40.0        NaN         NaN          NaN
2941933 2630936        43.0        NaN         NaN          NaN
2946044 1724745        44.0        NaN         NaN          NaN
2951284 1198122        36.0        NaN         NaN          NaN
2959628 105599         35.0       35.0        35.0         35.0
        1265174        40.0        NaN        40.0          NaN
        1509680        39.0        NaN         NaN          NaN
        2453650        37.0        NaN        37.0          NaN
        2657302        43.0        NaN         NaN          NaN
        2721326        42.0       42.0        42.0         42.0
2968865 15772          41.0        NaN         NaN          NaN
2969179 468665         42.0        NaN         NaN          NaN
2982936 2598619        37.0        NaN         NaN          NaN
2983798 2008623        43.0       43.0        43.0         43.0

[819226 rows x 39 columns]